{% extends 'base.html.twig' %}

{% block title %}Edit Ejercicio{% endblock %}

{% block body %}
    <h1>Edit Ejercicio</h1>

    {{ include('ejercicio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ejercicio_index') }}">back to list</a>

    {{ include('ejercicio/_delete_form.html.twig') }}
{% endblock %}
