{% extends 'base.html.twig' %}

{% block title %}Edit Peso{% endblock %}

{% block body %}
    <h1>Edit Peso</h1>

    {{ include('peso/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_peso_index') }}">back to list</a>

    {{ include('peso/_delete_form.html.twig') }}
{% endblock %}
